
openai
python-dotenv
langchain
langchain-core
pydantic
typing_extensions
langchain_openai
logging
requests
uvicorn
fastapi
pandas
matplotlib
weasyprint
markdown
seaborn
sqlmodel
pymysql
langchain_anthropic
tenacity